{% load static %}
<link rel="stylesheet" href="{% static 'public/style.css' %}">


<h1>Réserver une Voiture</h1>

    <form method="post" action="{% url 'reservation_create' %}">
        {% csrf_token %}
        <ul>
            <li>
                <label for="voiture">Choisissez une voiture :</label>
                <select name="voiture" id="voiture" required>
                    <option value="">Sélectionnez une voiture</option>
                    {% for voiture in voitures %}
                        <option value="{{ voiture.id }}">{{ voiture.marque }} {{ voiture.modele }} ({{ voiture.immat }})</option>
                    {% endfor %}
                </select>
            </li>
            <li>
                <label for="date_debut">Date de début :</label>
                <input type="date" id="date_debut" name="date_debut" required>
            </li>
            <li>
                <label for="date_fin">Date de fin :</label>
                <input type="date" id="date_fin" name="date_fin" required>
            </li>
        </ul>
        
        <div class="button-container">
            <button type="submit" class="btn">Réserver</button>
        </div>
    </form>

    <a href="{% url 'index' %}" class="return-link">Retour à la liste des voitures</a>
